---
title: About these docs
weight: 1
---

# About these docs

<%= warning_text('This is for internal use by the Design System team. Public-facing documentation can be found at <a href="https://design-system.service.gov.uk">design-system.service.gov.uk</a>.') %>

This is a reference guide for who we are and the way we do things. It's a playbook for anyone in the GOV.UK Design System team that tells us the 'right way' to do things.

What's written here is the way we do things now, but that will change from time to time.

## Contribute to the playbook

Contributions from anyone on the team are welcome and encouraged! This playbook is currently in its early stages of development, and we're still testing out what content and guidance is useful.

Follow the [contribution guide](https://github.com/alphagov/design-system-team-docs/blob/main/contributing.md) to add to our playbook.
